@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
  background: #424143;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 16px;
    padding:10px;
  }
}

/*------------link body------------*/

a {
  color: #2c98f0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #fff;
  outline: none;
  text-decoration: none !important;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #CECECE;
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

#colorlib-page {
  width: 100%;
  overflow: hidden;
  position: relative;
}
/****************************burger****************************/
.colorlib-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}

.colorlib-nav-toggle.active i::before, .colorlib-nav-toggle.active i::after {
  background-color: #fff;
  border:1px solid #fff;
}

.colorlib-nav-toggle.dark.active i::before, .colorlib-nav-toggle.dark.active i::after {
  background: #fff;
}

.colorlib-nav-toggle:hover, .colorlib-nav-toggle:focus, .colorlib-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}

.colorlib-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #fff;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #ffff;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.colorlib-nav-toggle i::before, .colorlib-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.colorlib-nav-toggle.dark i {
  position: relative;
  color: #fff;
  background: #fff;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.colorlib-nav-toggle.dark i::before, .colorlib-nav-toggle.dark i::after {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.colorlib-nav-toggle i::before {
  top: -7px;
}

.colorlib-nav-toggle i::after {
  bottom: -7px;
}

.colorlib-nav-toggle:hover i::before {
  top: -10px;
}

.colorlib-nav-toggle:hover i::after {
  bottom: -10px;
}

.colorlib-nav-toggle.active i {
  background: transparent;
}
/********croix**********/
.colorlib-nav-toggle.active i::before {


  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.colorlib-nav-toggle.active i::after {


  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.colorlib-nav-toggle {
  position: fixed;
  left: -5px;
  top: 0px;
  z-index: 9999;
  cursor: pointer;
  opacity: 1;
  visibility: hidden;
  padding: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .colorlib-nav-toggle {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 3em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 1em;
  }
}

.row-pt-md {
  padding-top: 3em;
}

.col-padding {
  padding: 10px !important;
}

.js .animate-box {
  opacity: 0;
}
/*-------------------navbar left--------------------------*/

#colorlib-aside {
  padding-top: 1em;
  padding-bottom: 40px;
  float: left;
  width: 300px;
  position: fixed;
  overflow: hidden;
  z-index: 1001;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #colorlib-aside {
    width: 300px;
    -moz-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}
#colorlib-aside .author-img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #colorlib-aside .author-img {
    height: 80px;
    width: 80px;
  }
}

#colorlib-aside .icon-mail {
  display: inline;
  font-size: 16px;
}
#colorlib-aside .text-mail {
  font-size: 10px;
}

/*
#colorlib-aside .number {
  display: block;
  margin-bottom: 2em;
  font-size: 12px;
  border:1px solid blue;
}
*/

/*****logo name*****/
#colorlib-aside #colorlib-logo {
  text-align: right;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: .5em;
  display: block;
  width: 100%;
}
#colorlib-aside #colorlib-logo a {
  display: block;
  text-align: center;
  color: #fff;
  padding-right: .3em;
}

/******menus latéral gauche******/
#colorlib-aside #colorlib-main-menu {
  display: block;
  width: 100%;
}

#colorlib-aside #colorlib-main-menu .collapse {
  display: block !important;
}

#colorlib-aside #colorlib-main-menu ul {
  text-align: center;
  margin: 0;
  padding: 0; 
}










@media screen and (max-width: 768px) {
  #colorlib-aside #colorlib-main-menu ul {
    margin: 0 0 1em 0; 
  }

}


/*****espacement des liens nav latérale*******/
#colorlib-aside #colorlib-main-menu ul li {
  margin: 0 0 8px 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#colorlib-aside #colorlib-main-menu ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 8px 0;
  font-family: "Quicksand", Arial, sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/*****effets de soulignements des liens*******/
#colorlib-aside #colorlib-main-menu ul li a:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 7px;
  left: 0;
  right: 0;
  background-color: #2c98f0;
  visibility: hidden;

  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);

  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#colorlib-aside #colorlib-main-menu ul li a:hover {
  text-decoration: none;
  color: #AAAAAA;
}

#colorlib-aside #colorlib-main-menu ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

#colorlib-aside #colorlib-main-menu ul li.active a {
  color: #fff;
}

#colorlib-aside #colorlib-main-menu ul li.active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}































/******menus latéral gauche******/
#colorlib-aside #colorlib-main-menu-contact {
  display: block;
  width: 100%;
}

#colorlib-aside #colorlib-main-menu-contact .collapse {
  /*display: block !important;*/
}

#colorlib-aside #colorlib-main-menu-contact ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #colorlib-aside #colorlib-main-menu-contact ul {
    margin: 0 0 1em 0; 
  }

}


/*****espacement des liens nav latérale*******/
#colorlib-aside #colorlib-main-menu-contact ul li {
  margin: 0 0 8px 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#colorlib-aside #colorlib-main-menu-contact ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 8px 0;
  font-family: "Quicksand", Arial, sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/*****effets de soulignements des liens*******/
#colorlib-aside #colorlib-main-menu-contact ul li a:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 7px;
  left: 0;
  right: 0;
  background-color: #2c98f0;
  visibility: hidden;

  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);

  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#colorlib-aside #colorlib-main-menu-contact ul li a:hover {
  text-decoration: none;
  color: #000;
}

#colorlib-aside #colorlib-main-menu-contact ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

#colorlib-aside #colorlib-main-menu-contact ul li.active a {
  color: #fff;
}

#colorlib-aside #colorlib-main-menu-contact ul li.active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

/****************lien vanta****************/

/*****effets de soulignements*******/
#colorlib-footer {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  padding: 0 20px;
  width: 100%;
}
#colorlib-footer .globe {
  color: #2c98f0
}
#colorlib-footer ul li a:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 7px;
  left: 0;
  right: 0;
  margin:0;
  padding:0;
  background-color: #2c98f0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#colorlib-footer ul li a:hover {
  text-decoration: none;
  color: #000;
}
#colorlib-footer  ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#colorlib-footer ul li .active a {
  color: #fff;
}
#colorlib-footer ul li .active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

































/********footer nav latérale********/
@media screen and (max-width: 768px) {
  #colorlib-footer {
    position: relative;
    bottom: 0;
  }
}
#colorlib-footer span {
  display: block;
}
#colorlib-footer ul {
  padding: 0;
  margin: 0;
}
#colorlib-footer ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}
#colorlib-footer ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  font-family: "Quicksand", Arial, sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#colorlib-footer ul li a:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 7px;
  left: 0;
  right: 0;
  background-color: #2c98f0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#colorlib-footer ul li a:hover {
  text-decoration: none;
  color: black;
}
#colorlib-footer ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#colorlib-footer ul li a:active a {
  color: #2c98f0;
}
#colorlib-footer ul li.active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

/*-------------------------------------------*/

/*
#colorlib-aside .colorlib-footer ul li a:focus {
  text-decoration: none;
  outline: none;
  color: #2c98f0;
}*/

/*--------------------container body---------------------*/

.container-wrap {
  max-width: 1170px;
  margin: 0 auto;
}

#colorlib-main {
  width: calc(100% - 300px);
  float: right;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: #424143;
}

@media screen and (max-width: 768px) {
  #colorlib-main {
    width: 100%;
    padding: 0;
  }
}

/*---------------------header-------------------*/

#colorlib-hero {
  height: 100vh;
  /* background: url(../images/loader.gif) no-repeat center center;*/
  width: 100%;
  float: left;
  margin-bottom: 2em;
  clear: both;
}

#colorlib-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}

#colorlib-hero .flexslider .slides {
  position: relative;
  overflow: visible;
  padding: 0px;
}

#colorlib-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 400px;
  position: relative;
}

#colorlib-hero .flexslider .flex-control-nav {
  bottom: 20px;
  z-index: 1000;
  left: 20px;
  float: left;
  width: auto;
}

@media screen and (max-width: 768px) {
  #colorlib-hero .flexslider .flex-control-nav {
    /*right: 20px;
    top: 100px;*/ 
   }
}

#colorlib-hero .flexslider .flex-control-nav li {
  display: block;
  margin-bottom: 10px;
}

#colorlib-hero .flexslider .flex-control-nav li a {
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

#colorlib-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: transparent;
  border: 1px solid #fff;
}

#colorlib-hero .flexslider .flex-direction-nav {
  display: none;
}

#colorlib-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 800px;
  z-index: 9;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
  padding: 2.5em;
  position: relative;
}

@media screen and (max-width: 768px) {
  #colorlib-hero .flexslider .slider-text>.slider-text-inner {
    text-align: center;
  }
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner h1, #colorlib-hero .flexslider .slider-text>.slider-text-inner h2 {
  margin: 0;
  padding: 0;
  color: #fffdfd;
  font-family: "Playfair Display", Georgia, serif;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner h1 {
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  #colorlib-hero .flexslider .slider-text>.slider-text-inner h1 {
    font-size: 28px;
  }
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner h2 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 300;
  font-family: "Quicksand", Arial, sans-serif;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner h2 a {
  color: rgba(44, 152, 240, 0.8);
  border-bottom: 1px solid rgba(44, 152, 240, 0.7);
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner .heading-section {
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  #colorlib-hero .flexslider .slider-text>.slider-text-inner .heading-section {
    font-size: 30px;
  }
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner s .colorlib-lead {
  font-size: 20px;
  color: #fffdfd;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner p {
  margin-bottom: 0;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner .btn {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fffdfd;
  padding: 10px 15px !important;
  border: none;
  font-weight: 400;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner .btn.btn-learn {
  color: #fffdfd;
  border: 1px solid #fff;
  background: transparent !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#colorlib-hero .flexslider .slider-text>.slider-text-inner .btn.btn-learn:hover {
  background: transparent !important;
  border: 1px solid #4a1d2d !important;
}

@media screen and (max-width: 768px) {
  #colorlib-hero .flexslider .slider-text>.slider-text-inner .btn {
    width: 100%;
    ;
  }
}

body.offcanvas {
  overflow-x: hidden;
}

/*Body navbar responsive*/

body.offcanvas #colorlib-aside {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  width: 300px;
  background: #424143;
  z-index: 999;
  position: fixed;
}

body.offcanvas #colorlib-main, body.offcanvas .colorlib-nav-toggle {
  top: 0;
  -moz-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
}

.colorlib-narrow-content {
  padding: 0 2.5em;
}

@media screen and (max-width: 768px) {
  .colorlib-narrow-content {
    padding: 0;
  }
}

.no-gutters {
  margin: 0;
  padding: 0;
}

.colorlib-experience, .colorlib-skills, .colorlib-education, .colorlib-work, .colorlib-about, .colorlib-services, .colorlib-contact {
  padding-top: 2em;
  padding-bottom: 2em;
  clear: both;
  width: 100%;
  display: block;
}

.colorlib-about {
  padding-top: 4em;
  padding-bottom: 2em;
  clear: both;
  width: 100%;
  display: block;
}

.colorlib-blog {
  padding-top: 5em;
  padding-bottom: 10em;
  clear: both;
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .colorlib-experience, .colorlib-skills, .colorlib-education, .colorlib-blog, .colorlib-work, .colorlib-about, .colorlib-services, .colorlib-contact {
    padding-top: 5em;
    padding-bottom: 8em;
    border:1px solid red;
  }
}

.author-img {
  background-size: cover;
  /*background-position: center center;*/
  background-repeat: no-repeat;
  position: relative;
}

.colorlib-heading {
  font-size: 18px;
  margin-bottom: 2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
}

.colorlib-heading span {
  display: block;
}

@media screen and (max-width: 768px) {
  .colorlib-heading {
    margin-bottom: 3em;
  }
}

.heading-meta {
  margin-bottom: 15px;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  color: #AAAAAA;
  font-weight: 500;
  letter-spacing: 5px;
}

.heading {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.about-img {
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
}

.about-desc h3 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
}

.about-desc {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
}

.heading-blog {
  margin-bottom: 15px;
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.timeline-centered {
  position: relative;
  margin-bottom: 30px;
}

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #f2f3f7;
  top: 20px;
  bottom: 20px;
  margin-left: 29px;
}

.timeline-centered .timeline-entry {
  position: relative;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -20px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: #2c98f0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f2f3f7;
  -webkit-box-shadow: 0 0 0 5px #f2f3f7;
  box-shadow: 0 0 0 5px #f2f3f7;
  line-height: 40px;
  float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2 {
  background: #ec5453;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3 {
  background: #f9bf3f;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-4 {
  background: #a84cb8;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-5 {
  background: #2fa499;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
  background: #fff;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #f2f3f7;
  padding: 1.5em;
  margin-left: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #000;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f2f3f7 transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p+p {
  margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  color: #000;
  font-size: 20px;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #000;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  -ms-filter: alpha(opacity=40);
  filter: alpha(opacity=40);
  font-size: 16px;
}

.services {
  margin-bottom: 30px;
  padding: 1.5em;
  background: #fff;
  -webkit-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  border-bottom: 2px solid #2c98f0;
}

.services .icon2 {
  display: block;
  margin-bottom: 20px;
}

.services .icon2 i {
  font-size: 30px;
  color: #2c98f0;
}

.services h3 {
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.services.color-2 {
  border-bottom: 2px solid #ec5453;
}

.services.color-2 .icon2 i {
  color: #ec5453;
}

.services.color-3 {
  border-bottom: 2px solid #f9bf3f;
}

.services.color-3 .icon2 i {
  color: #f9bf3f;
}

.services.color-4 {
  border-bottom: 2px solid #a84cb8;
}

.services.color-4 .icon2 i {
  color: #a84cb8;
}

.services.color-5 {
  border-bottom: 2px solid #2fa499;
}

.services.color-6 {
  border-bottom: 2px solid #4054b2;
}

.services {
  margin-bottom: 80px;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .services {
    margin-bottom: 4em;
  }
}

.services .icon {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  width: 100px;
  height: 50px;
  display: table;
  margin: 0 auto;
  background: #2c98f0;
}

.services .icon:before, .services .icon:after {
  position: absolute;
  left: 0;
  right: 0;
  content: '';
}

.services .icon:before {
  top: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 30px 50px;
  border-color: transparent transparent #2c98f0 transparent;
}

.services .icon:after {
  bottom: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 50px 0 50px;
  border-color: #2c98f0 transparent transparent transparent;
}

.services .icon i {
  font-size: 30px;
  color: #fff;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
}

.services .desc {
  margin-top: 60px;
}

.services .desc h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.services.color-2 .icon {
  background: #ec5453;
}

.services.color-2 .icon:before {
  border-color: transparent transparent #ec5453 transparent;
}

.services.color-2 .icon:after {
  border-color: #ec5453 transparent transparent transparent;
}

.services.color-3 .icon {
  background: #f9bf3f;
}

.services.color-3 .icon:before {
  border-color: transparent transparent #f9bf3f transparent;
}

.services.color-3 .icon:after {
  border-color: #f9bf3f transparent transparent transparent;
}

.services.color-4 .icon {
  background: #a84cb8;
}

.services.color-4 .icon:before {
  border-color: transparent transparent #a84cb8 transparent;
}

.services.color-4 .icon:after {
  border-color: #a84cb8 transparent transparent transparent;
}

.services.color-5 .icon {
  background: #2fa499;
}

.services.color-5 .icon:before {
  border-color: transparent transparent #2fa499 transparent;
}

.services.color-5 .icon:after {
  border-color: #2fa499 transparent transparent transparent;
}

.services.color-6 .icon {
  background: #4054b2;
}

.services.color-6 .icon:before {
  border-color: transparent transparent #4054b2 transparent;
}

.services.color-6 .icon:after {
  border-color: #4054b2 transparent transparent transparent;
}
/**************blog*******************/
.colorlib-blog .desc{
  border:1px solid #AAAAAA;
  padding:0 10px;
  margin-bottom:3em;
  border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  -ms-border-radius:15px;
  -o-border-radius:15px;
  min-height: 280px;
}

.colorlib-blog .icon-download4 {
  color:#fff;
}
.blog-entry {
  width: 100%;
  float: left;
  background: #fff;
  margin-bottom: 3em;
  border:1px solid red;
}

@media screen and (max-width: 768px) {
  .blog-entry {
    margin-bottom: 3em;
  }
}

.blog-entry .blog-img {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}

.blog-entry .blog-img img {
  position: relative;
  max-width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  
}

.blog-entry .desc h3 {
  font-size: 16px;
  margin-bottom: 25px;
  line-height: auto;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Quicksand", Arial, sans-serif;
}

.blog-entry .desc h3 a {
  color: #000;
  text-decoration: none;
}

.blog-entry .desc span {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4) !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  
}

.blog-entry .desc span small i {
  color: #999999;
}

.blog-entry .desc .lead {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
  
}

.blog-entry:hover .blog-img img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}


/*info bulles*/

.picto-item {
  position: relative;
  cursor: help;
  border-radius: 50%;
}
/************************project*************************/
.picto-item:hover:after, .picto-item:focus:after {
  content: attr(aria-label);
  position: absolute;
  top: -3em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
  padding: 5px 14px;
  background: #424143;
  color: #fff;
  border-radius: 4px;
  font-size: 1.2rem;
}

[aria-label]:hover:before, [aria-label]:focus:before {
  content: "▼";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #424143;
}

.project {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.project .desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.project .desc .con {
  padding: 20px;
  display: block;
  position: relative;
  height: 300px;
  box-shadow: 5px 2px 14px 2px black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.project .desc .con .icon {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.project .desc .con .icon span {
  display: inline;
  padding-right: 5px;
}

.project .desc .con .icon span a {
  font-size: 15px;
  color: #fff;
  padding: 5px;
  background: #424143;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  z-index: 999;
}

.project .desc .con .icon i {
  font-size: 16px;
  color: #fff
}

.project .desc h3 {
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #fffdfd;
  margin-bottom: 15px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: transform 0.5ty 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.5ty 0.3s;
  transition: transform 0.5ty 0.3s;
  transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  -moz-transition: transform 0.3ty 0.3s;
  -ms-transition: transform 0.3ty 0.3s;
}

.project .desc h3 a {
  color: #fff;
}

.project .desc span {
  display: block;
  color: #fff;
  padding: 0 10px;
  letter-spacing: 1px;
  opacity: 1;
  font-weight: 400;
  font-size: 23px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}



@media screen and (max-width: 768px) {
  .project .desc {
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  .project .desc h3 {
    padding: 40px 20px;
    font-style: 28px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #fff;
  }
  .project .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.project:hover .desc {
  opacity: 0.8;
}

.project:hover .desc h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.project:hover .desc span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.btn-load-more {
  width: 100%;
}

#colorlib-counter {
  position: relative;
  clear: both;
  margin-bottom: 5em;
}

.colorlib-counters {
  padding: 3em 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.colorlib-counters .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.colorlib-counters .icon {
  width: 100px;
  height: 100px;
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;
}

.colorlib-counters .icon i {
  display: table-cell;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  font-size: 50px;
  color: #2c98f0;
  background: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/*
.colorlib-counters .counter-wrap {
  border: 1px solid red !important;
}*/

.colorlib-counters .colorlib-counter {
  font-size: 40px;
  display: block;
  color: white;
  font-family: "Quicksand", Arial, sans-serif;
  width: 100%;
  font-weight: 700;
  margin-bottom: .3em;
}

.colorlib-counters .colorlib-counter-label {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 5px;
  margin-bottom: 2em;
  display: block;
}

.colorlib-social {
  padding: 0;
  margin: 0;
  text-align: center;
}

.colorlib-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.colorlib-social li a {
  font-size: 22px;
  color: #000;
  padding: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

@media screen and (max-width: 768px) {
  .colorlib-social li a {
    padding: 10px 8px;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 15px !important;
}

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: transparent;
  background: #f2f3f7;
  height: 54px;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  background: #f0f0f0;
}

.colorlib-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}

.colorlib-nav-toggle.active i::before, .colorlib-nav-toggle.active i::after {
  background: #000;
}

.colorlib-nav-toggle.dark.active i::before, .colorlib-nav-toggle.dark.active i::after {
  background: #000;
}

.colorlib-nav-toggle:hover, .colorlib-nav-toggle:focus, .colorlib-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 3em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 1em;
  }
}

.row-bottom-padded-sm {
  padding: 1em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 1em;
  }
}

.row-pt-md {
  padding-top: 3em;
}

.col-padding {
  padding: 10px !important;
}

.js .animate-box {
  opacity: 0;
}

input[type=text] {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input[type=email] {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.thumbnail {
  padding: 10px;
  line-height: 1.42857;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

#message {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 110px;
}

.vanta {
  
  min-height: 100vh;
  width: 100vw;
}

#container-contact {
  width: 60%;
  padding: 3em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media screen and (max-width: 1200px) {
  #container-contact {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #container-contact {
    width: 100%;
  }
}

.icon-mail {
  color: #fff;
}

.icon-heart {
  color: #2c98f0;
}



.radio {
  display: inline;
  color: #AAAAAA;
  padding: 0 10px;
}
/*
.radio:hover {
  transition:0.5s;
  font-size:16px;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
}*/

.submit-background {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #AAAAAA;
  font-family: "Quicksand", Arial, sans-serif;
}

.submit-background:hover {
  color: #AAAAAA;
  background: transparent !important;
  border: 1px solid #4a1d2d !important;
  
}

#selector {
  color: #AAAAAA;
  background-color:#424143;
  width: 100%;
  font-size: 13px;
  font-family: "Quicksand", Arial, sans-serif;
  z-index:999;
}

@media screen and (max-width: 768px) {
  #selector {
    text-align: center;
    margin:0 auto;
    padding:a auto;
  }
  .submit-background{
    font-size:10px;
  }

}
#select-background{
  background-color:#424143;
  
}
.row-slider {
  margin-left: -35px;
  margin-right: -35px;
}